@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@500&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@700&display=swap');

body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810113.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x:center ;
}

header {
    display: flex;
    flex-direction: column;
    
}
/*.icono-link-home :hover {
    cursor: pointer;
}
*/

/*
.icono-menu {
    position: fixed;
    margin-top: .0625rem;
    background-color: rgba(180, 180, 180, 0.271);
    border: none;
    border-radius: 90%;
    padding: .5625rem;  
}
*/

.titulo {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Rufina', serif;
    color: rgb(33, 130, 130);
    font-size: 70px;
    letter-spacing: 2.5rem;
    width: 100%;
}

.separador {
    padding: 0%;
    border-top: solid rgb(200, 200, 200);
    width: 100%;
    height: .0063rem;
    border-width: .125rem;
}

.descripcion {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-family: 'Comme', sans-serif;
    font-size: 1.125rem;
    color: rgb(100, 100, 100);
    bottom: 6rem ;
}

.menu {
    margin-top: 2rem;
}
a {
    text-decoration: none;
}
.links {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight:600;
    font-size: .9375rem;
}

.p1 {
    position: relative;
    top: 7rem;
    left: .25rem ;
}

.p2 {
    position: relative;
    top: 0.8rem;
    left: 1.5rem ;
}

.p3 {
    position: relative;
    top: 10rem;
    left: .625rem;
}

.p4 {
    position: relative;
    bottom: 6.8rem;
}

.p5 {
    position: relative;
    top: 0.4rem;
    left: 4.125rem;
}

.p6 {
    position: relative;
    bottom: 6.8rem;
}

.linea {
    padding: 0%;
    border-top: solid rgb(33, 130, 130);
    width: 5rem;
    height: .0063rem;
    border-width: .125rem;
}

.l-1 {
    position: relative;
    transform: rotate(32deg);
    top:7.5rem;
    left: 4.2rem;
    width: 9rem;
}

.l-2 {
    position: relative;
    transform: rotate(88deg);
    top: 2.25rem;
    left: 1.2rem;
    width: 4.8rem;
}

.l-3 {
    position: relative;
    transform: rotate(150deg);
    top: 10rem;
    right: 6.375rem ;
    width: 7.9rem;
}

.l-4 {
    position: relative;
    transform: rotate(149deg);
    width: 7.9rem;
    bottom: 13.75rem;
    left: 5.3rem;
}

.l-5 {
    position: relative;
    transform: rotate(80deg);
    bottom: 10.7rem;
    right: 1.5rem;
    width: 8.5rem;
}

.l-6 {
    position: relative;
    transform: rotate(30deg);
    bottom:13rem;
    right: 6.3rem;
    width: 7rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos {
    background-color: rgba(255, 255, 255, 0.734);
}

.top {
    display: flex;
    align-items: center;
    gap: 9.375rem;
}

.sillin-img {
    position: relative;
    top: 6.25rem;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
}

.casco-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
    left: 16px;
}

.manubrio-img {
    position: relative;
    top: 100px;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
    left: .625rem;
    top: 9.375rem;
}

.ilustracion {
    display: flex;
    position: relative;
    margin-right: 90px;
    margin-top: 2.5rem;
    margin-bottom: 0%;
}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    gap: 9.375rem;
}

.cadena-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .375rem;
    bottom: 7.5rem;
    left: 1.5rem;
}

.zapas-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
    left: 1rem;
    bottom: .375rem;
}

.rueda-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .375rem;
    bottom: 7.5rem;
}

.formulario {
/* Habria que personalizarlo, el codigo del formulario en html 
lo saque de Bootstrap */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(88, 88, 88);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.p-footer {
    position: relative;
    top: 1.5rem;
    font-family: 'Comme', sans-serif;
    color: rgb(70, 70, 70);
    font-weight:400;
    font-size: 1.5rem;
    padding: 1.875rem;
    margin-bottom: 0px;
}

.tiendas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10p;
    max-width: 100%;
    margin-bottom: 1.875rem;
}

/* ACA EMPIEZAN LOS ESTILOS DE LAS PAGINAS DE ARTICULOS DE VENTA */

body {
    display: flex;
    flex-direction: column;
}

/*
.icono-menu {
    position: fixed;
    margin-top: .0625rem;
    background-color: rgba(180, 180, 180, 0.271);
    border: none;
    border-radius: 90%;
    padding: .5625rem;  
}
*/

h1 {
    font-family: 'Rufina', serif;
    color: rgb(33, 130, 130);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin-top: .3125rem;
}

.separador {
    padding: 0%;
    border-top: solid rgb(200, 200, 200);
    width: 100%;
    height: .0063rem;
    border-width: .125rem;
}

.asientos-card {
    display: flex;
    flex-direction: column;
}

.asientos-titulo {
    position: relative;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Prompt', sans-serif;
    color: rgb(90, 90, 90);
}

.asientos-descrip {
    position: relative;
    bottom: 1.5625rem;
    font-family: 'Comme', sans-serif;
    color: rgb(90, 90, 90);
    text-align: center;
}

.tres-asientos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6.25rem;
}

.links {
    font-family: 'Prompt', sans-serif;
    color: rgb(33, 130, 130);
    font-weight:bolder;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

.link-Asi {
    display: flex;
    flex-direction: column;
    justify-content:initial;
    text-align: center;
    background-color: rgba(252, 252, 251, 0.647);
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 20%;
    padding: .625rem;
}

.bloque {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.sup {
    display: flex;
    padding: .625rem;
    margin-top: 1.25rem;
}

.sup-nombre {
    position: relative;
    justify-content: flex-start;
    margin-left: 6.25rem;
    font-family: 'Comme', sans-serif;
    color: rgb(33, 130, 130);
    font-weight: 700;
    font-size: 2rem;
}

.mercado-libre {
    position: relative;
    left: 25rem;
}

.mercado-libre :hover {
    cursor: pointer;
    background-color: rgb(151, 224, 223);
    color: rgb(11, 73, 73);
}

.boton-compra {
    position: relative;
    right: 6.25rem;
    padding: 1rem;
    border: none;
    border-radius: .3125rem;
    background-color: rgba(33, 130, 130, 0.51);
    min-width: 17.3rem;
    height: 2rem;
    color: white;
    font-family: 'Comme', sans-serif;
    font-size: 1.25rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulso 1.8s infinite;
}

@keyframes pulso {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(33, 130, 130, .5) ;
    }
    70% {
        transform: scale(.99);
        box-shadow: 0 0 0 15px rgba(33, 130, 130, 0) ;
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(33, 130, 130, 0) ;
    }
}

.btn-compact {
    margin-left: 9.375rem;
}
.btn-tonic {
    margin-left: 7.7rem;
}

.med {
    display: flex;
    justify-content: space-between;
    margin-right: 3.125rem;
    margin-left: 6.25rem;
    margin-top: 1.875rem
    
}
.info {
    font-family: 'Comme', sans-serif;
    color: rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.473);
    border: none;
    border-radius: 60%;
}

.p-info {
    width: 50rem;
}

.ficha-tecnica {
    background-color: rgba(255, 255, 255, 0.549);
    border: solid  rgb(33, 130, 130);
    border-radius: 1.875rem;
    border-width: .0938rem;
    font-family: 'Prompt', sans-serif;
    max-width: 30rem;
    max-height: 25rem;
}

.foto-asiento {
    position: relative;
    top: 2.8125rem;
    right: 9.375rem;;
}

.inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf-vid {
    margin-top: 1.875rem;
    width: 80%;
    margin-top: 3.125rem;   
}

.dropbtn {
    background-color:transparent;
    position: relative;
    display: flex;
    margin-left: 15px;
    letter-spacing: 3px;
    color: rgb(157, 0, 248);
    font-size: 26px;
    border: none;
    cursor: pointer;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #bcd5e4;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    background-color: #a6d7f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #b4d8f5;}
  
  .show {display:block;}

/* Estilo para la grilla de contacto */
.header {grid-area: header;}
.formulario {grid-area: formulario;}
.footer {grid-area: footer;}

.grid-container {
    background-color: transparent;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        '. formulario formulario formulario formulario .'
        'footer footer footer footer footer footer';
    grid-gap: 30px;
    padding: 10px;  
}

.grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}