@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');

.titulo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Rufina', serif;
    color: rgb(33, 130, 130);
    font-size: 70px;
    letter-spacing: 2.5rem;
    width: 100%;
}

/* Falta dar estilos a los <p> de cada imagen al rededor
de la ilustracion con lineas que los unan */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    gap: 9.375rem;
}

.sillin-img {
    position: relative;
    top: 100px;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
}

.casco-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
}

.manubrio-img {
    position: relative;
    top: 100px;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
    left: .625rem;
}

.ilustracion {
    display: flex;
    position: relative;
    margin-right: 90px;
    margin-top: 2.5rem;
    margin-bottom: 0%;
}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    gap: 9.375rem;
}

.piñon-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .375rem;
    bottom: 7.5rem;
}

.zapas-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .3125rem;
}

.rueda-img {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .375rem;
    bottom: 7.5rem;
}

.formulario {
/* Habria que personalizarlo, el codigo del formulario en html 
lo saque de Bootstrap */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
