@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: center;
    margin-top: .125rem;
    font-family: 'Rufina', serif;
    font-size: 3.5rem;
    justify-content: center;
    margin-bottom: 0;
    color: rgb(33, 130, 130);
    letter-spacing: 3.75rem;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5625rem;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:3.125rem;
    margin-top: 1.875rem;
    gap: 9.375rem;
}
.sillin {
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
    position: relative;
    right: .625rem;
    top: 100px;
}

.casco {
    position: relative;
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
}

.manubrio {
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
    position: relative;
    left: .625rem;
    top: 100px;
}

.midle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:3.125rem;
    margin-top: 3.125rem;
    gap: 9.375rem;
}

.piñon {
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
    position: relative;
    right: .625rem;
    bottom: 3.75rem;
}

.zapatillas {
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
    position: relative;
    left: 0.5rem;
    top: 2.8125rem;
}

.rueda {
    border: solid rgb(33, 130, 130);
    border-width: .125rem;
    border-radius: 90%;
    padding: .9375rem;
    position: relative;
    left: .3125rem;
    bottom: 60px;
}

